<footer class="footer-area footer--light">
    <div class="footer-big">
      <!-- start .container -->
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-12">
            <div class="footer-widget">
              <div class="widget-about">
                <a href="https://www.yespro.in"><img src="assets/images/logo.png" style="width: 70%; height: 40%;" class="img-fluid"></a>
                <p>YESpro is not just another company but a revolution which will ensure that event service providers get equal and rightful opportunities.</p>
                <ul class="contact-details">
                  <li>
                  Contact Us
                  </li>
                  <a href="mailto:info@yespro.in">info@yespro.in</a>
                  <li>
                  <a href="tel:+917903226154">+91-7903226154</a> &nbsp;
                  <a href="tel:+917021371096">+91-7021371096</a>
                  </li>
                  <br>
                  <li>
                    Address:
                    <Address style="color: white;">
                     <a href="http://maps.google.com/?q=Swasadan liliya nagar, SV road, Goregaon West, Mumbai"target="_blank"> A-105, Best Swasadan society, liliya nagar, SV road, Goregaon West, Mumbai-400062, Maharashtra</a>
                    </Address>
                  </li>
                </ul>
              </div>
            </div>
            <!-- Ends: .footer-widget -->
          </div>
          <hr>
          <!-- end /.col-md-4 -->
          
 
          <div class="col-md-3 col-sm-4">
            <div class="footer-widget">
              <div class="footer-menu">
                <h4 class="footer-widget-title" style="color:rgb(218, 85, 52);">Quick Links</h4>
                <ul class="lala">
                  <li>
                    <a routerLink="/about">About Us</a>
                  </li>
                  <li>
                    <a href="#">Services</a>
                  </li>
                  <li>
                    <a href="#">Blogs</a>
                  </li>
                  <li>
                    <a href="#">Testimonials</a>
                  </li>
                  <li>
                      <a href="#">How It Works</a>
                    </li>
                  <li>
                    <a routerLink="/contact">Contact Us</a>
                  </li>
                </ul>
              </div>
              <!-- end /.footer-menu -->
            </div>
            <!-- Ends: .footer-widget -->
          </div>
          <!-- end /.col-lg-3 -->
  
          <div class="col-md-3 col-sm-4">
            <div class="footer-widget">
              <div class="footer-menu no-padding">
                <h4 class="footer-widget-title" style="color:rgb(218, 85, 52);"> Get Connected With Us</h4>
                <ul>
                  <li>
                    <a href="https://www.facebook.com/yesproindia"target="_blank"><img src="assets/images/fb.png"style="width:16%;height:16%; border-radius: 50%;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;FACEBOOK</a>
                  </li>
                  <br>
                  <li>
                    <a href="https://twitter.com/@yesproindia"target="_blank"><img src="assets/images/tw.png"style="width:18%;height:18%; border-radius: 50%;">&nbsp;&nbsp;&nbsp;&nbsp;TWITTER</a>
                  </li>
                  <br>
                  <li>
                    <a href="https://www.instagram.com/yesproindia"target="_blank"><img src="assets/images/ins.png"style="width:14%;height:13%;border-radius: 50%; margin-left: 6px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;INSTAGRAM</a>
                  </li>
                  <br>
                  <li>
                    <a href="https://www.linkedin.com/company/yesproindia/about/" target="_blank"><img src="assets/images/ln.png"style="width:19%;height:19%; border-radius: 50%; margin-left: 1px;">&nbsp;&nbsp;&nbsp;LINKEDIN</a>
                  </li>
                </ul>
              </div>
              <!-- end /.footer-menu -->
            </div>
            <!-- Ends: .footer-widget -->
          </div>
          <!-- Ends: .col-lg-3 -->
  
        </div>
        <!-- end /.row -->
      </div>
      <!-- end /.container -->
      <div class="profilevisitor">
          <a href="https://www.duplichecker.com/visitor-hit-counter/" target="_blank" title="Web Counter">
          PAGE VISITS COUNT :&nbsp;&nbsp;&nbsp; <img src="https://www.duplichecker.com/counterDisplay?code=6fb92441a9b44f848d4ae1e5e9641d3c&style=0006&pad=5&type=page&initCount=1"  title="Web Counter" Alt="Web Counter" border="0"></a>
          </div>
    </div>
    <!-- end /.footer-big -->
    
    <div class="mini-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="copyright-text">
              <p style="text-align: center;">Copyright © 2019
                <a href="https://www.yespro.in">YESpro</a>. All rights reserved &nbsp;&nbsp;&nbsp; Created by:&nbsp;
                
                <a href="https://www.linkedin.com/in/aman-raj-46770595/"target="_blank">Aman Raj <img src="assets/images/aman.png" style="width:5%;height:5%;margin-left: 1em; border-radius: 50%;"></a>
                                             
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>