<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<div class="aboutus-section">
         <div class="about-title">
          <h1 class="contdes">YesPro - About US </h1>
         </div>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12" style="margin-left: 90px">
                    <div class="aboutus">
                        <h1 class="aboutus-title">
                          Yespro
                      </h1>
                        <p class="aboutus-text">We set up YESpro since students and freelancers often struggle to find suitable events. On the other hand, event management companies too are looking for enthusiastic candidates.</p>
                        <p class="aboutus-text">Moreover, there are many instances where middlemen take a huge chunk of the allocated amount,while freelancers get peanuts.</p>
                        <p class="aboutus-text">Yespro is not just another company but a revolution which will ensure that event service providers get equal and rightful opportunities.</p>
                        <b><p class="aboutus-text">We are YOUR EVENT'S SERVICE PROVIDERS a.k.a YESpro</p></b>
                        <a class="aboutus-more" href="#">read more</a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="aboutus-banner"style="margin-left: 40px">
                        <img src="http://themeinnovation.com/demo2/html/build-up/img/home1/about1.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-5 col-sm-6 col-xs-12">
                    <div class="feature" style="margin-left: 70px">
                        <div class="feature-box">
                            <div class="clearfix">
                               
                                <div class="feature-content">
                                    <h4>Work with heart</h4>
                                    <p>Bringing your heart to work is about opening the door to connection, to service, and to vulnerability.
                                       It’s about being willing to be real and authentic, and holding space for others to do the same !!</p>
                                </div>
                            </div>
                        </div>
                        <div class="feature-box">
                            <div class="clearfix">
                                
                                <div class="feature-content">
                                  <br>
                                    <h4>Reliable services</h4>
                                    <p>The Customers are the god of every business, what we plant the same we'll get, We Yespro cares about customer's Satisfaction !! </p>
                                </div>
                            </div>
                        </div>
                        <div class="feature-box">
                            <div class="clearfix">
                                
                                <div class="feature-content">
                                  <br>
                                    <h4>Great support</h4>
                                    <p>We are here to help you around anytime any moment, Our technical team and management is always ready to help hand support our Customers, Feel free to Reach out us !!</p>
                                </div>
                            </div>
                        </div>
                        <div class="feature-box">
                          <div class="clearfix">
                              
                              <div class="feature-content">
                                <br>
                                  <h4>New opportunities</h4>
                                  <p>Being a member of Yespro you'll always have the new and upcoming opportunities, Stay Connected !!</p>
                              </div>
                          </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="our-webcoderskull padding-lg">
        <div class="container">
          <div class="row heading heading-icon">
              <h2>Our Team</h2>
          </div>
          <ul class="row">
            <li class="col-12 col-md-6 col-lg-3">
                <div class="cnt-block equal-hight" style="height: 349px;">
                  <figure><img src="http://www.webcoderskull.com/img/team4.png" class="img-responsive" alt=""></figure>
                  <h3><a href="http://www.webcoderskull.com/">Pratik Raj</a></h3>
                  <p>CEO - Yespro</p>
                  <ul class="follow-us clearfix">
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                  </ul>
                </div>
            </li>
            <li class="col-12 col-md-6 col-lg-3">
                <div class="cnt-block equal-hight" style="height: 349px;">
                  <figure><img src="http://www.webcoderskull.com/img/team1.png" class="img-responsive" alt=""></figure>
                  <h3><a href="#">Kappua </a></h3>
                  <p>Freelance Web Developer</p>
                  <ul class="follow-us clearfix">
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                  </ul>
                </div>
            </li>
            <li class="col-12 col-md-6 col-lg-3">
                <div class="cnt-block equal-hight" style="height: 349px;">
                  <figure><img src="http://www.webcoderskull.com/img/team4.png" class="img-responsive" alt=""></figure>
                  <h3><a href="http://www.webcoderskull.com/">Manish </a></h3>
                  <p>Freelance Web Developer</p>
                  <ul class="follow-us clearfix">
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                  </ul>
                </div>
             </li>
            <li class="col-12 col-md-6 col-lg-3">
                <div class="cnt-block equal-hight" style="height: 349px;">
                  <figure><img src="http://www.webcoderskull.com/img/team2.png" class="img-responsive" alt=""></figure>
                  <h3><a href="http://www.webcoderskull.com/">Atul </a></h3>
                  <p>Freelance Web Developer</p>
                  <ul class="follow-us clearfix">
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                  </ul>
                </div>
            </li>
          </ul>
        </div>
      </section>