.about-us {
    padding: 50px 0 0px 0;
}
.main-content {
    padding: 50px 0 0 0;
}

.contdes{
    
    border: 2px solid #2b0e6d;
    border-radius:  25px;
    color: #2b0e6d;
    display: inline-block;
    font-size: 34px;
    font-weight: 700;
    letter-spacing: 0;
    padding: 7px 20px;
    margin-left: 380px;
    margin-bottom: 20px;
}

.admi {
    max-height: 500px;

}

.aboutus-banner {
    display: flex;
    justify-content: center;
}
.feature-content h4{
    color: darkred;
}
.clients-about{
    background: url('src/assets/images/bgabout.jpg');
    height: 100%;
}
.clients-heading{
    color: white;
    text-align: center;
    padding-top: 40px;
}
.card{
    width: 100%;
    margin-top: 70px;
    text-align: center;
}
.row {
    display: flex;
    justify-content: center;
    padding-bottom: 22px;
    width: 100%;
}
.social{
    list-style: none;
    background-color: black;
    display: flex;
    justify-content: center;
}

.social-img{
    height: 25px;
    width: 25px;
}
.card-title{
    color:darkred;
    font-family: cursive;
    font-size: 20PX;
}
.container{
    padding-bottom: 50px;
}
.description{
    padding: 7%;
}
.social-logo{
    margin: 3%;
}
.image-size{
    height: 200px;
}