.about-us {
    padding: 50px 0 50px 0;
}
.main-content {
    padding: 50px 0 0 0;
}

.contdes{
    
    border: 2px solid #2b0e6d;
    border-radius:  25px;
    color: #2b0e6d;
    display: inline-block;
    font-size: 34px;
    font-weight: 700;
    letter-spacing: 0;
    padding: 7px 20px;
    margin-left: 380px;
    margin-bottom: 20px;
}

.admi {
    max-height: 500px;
}

.aboutus-banner {
    display: flex;
    justify-content: center;
}