<nav class="navbar navbar-expand-lg navbar-dark nav-dark">
  <a class="navbar-brand" href="#"><img src="assets/images/logo.png" width="100px" height="25px"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav mr-auto">
      <a class="nav-item nav-link" href="#">Blogs</a>
      <a class="nav-item nav-link" href="#">How It Works</a>
      <a class="nav-item nav-link" href="#">Contact Us</a>
      <a class="nav-item nav-link" href="#">About Us</a>
      <a class="nav-item nav-link" href="#">Login/SignUp</a>
    </div>
  </div>
</nav>