<header>
  <div class="overlay"></div>
  <video muted playsinline="playsinline" autoplay="autoplay" loop="loop">
    <source src="assets/images/freelan.mp4" type="video/mp4">
  </video>
  <div class="container register">
    <h3 class="register-heading">Freelancer's Login -YESpro </h3>
    <div class="row">
      <div class="register-left">
        <input type="text" class="form-control" placeholder="Username" />
        <input type="text" class="form-control" placeholder="Password" />
        <a routerLink="/login"><input class="loginbutton" type="submit" name="" value="Login" /></a><br />
        <div class="signup">
            <a routerLink="#"><p style="color: rgb(244, 255, 157);"> Forgot Password?</p></a>
            <a routerLink="/signup"><p style="color: rgb(161, 161, 255);"> New User ? Create a new account</p></a>
        </div>
      </div>
    </div>
  </div>
</header>
