<header>
  <div class="overlay"></div>
  <video muted playsinline="playsinline" autoplay="autoplay" loop="loop">
    <source src="assets/images/freelan.mp4" type="video/mp4">
  </video>
  <div class="container register">
      <h3 class="register-heading"><span style="color: yellow;">YES</span>pro - Login</h3>
    <div class="row">
      <div class="col-md-3 register-left">
        <img src="assets/images/logo_white.png" alt="" />
        <h3 style="color: rgb(124, 176, 255);">Freelancer's Login</h3>
        <p>You are 30 seconds away from your own Event!</p>
        <a routerLink="/login"><input type="submit" name="" value="Login" /></a>
      </div>
      <div class="col-md-3 register-left">
        <img src="assets/images/logo_white.png" alt="" />
        <h3 style="color: red;">Customer Login</h3>
        <p>You are 30 seconds away from your own Event!</p>
        <a routerLink="/logincustomer"><input type="submit" name="" value="Login" /></a>
      </div>
    </div>
  </div>
</header>
