<div class="container-fluid briefcont">
  <div class="row">
    <div class="col-sm-8 col-md-8 col-lg-8">
      <div class="brief">
        <h2 class="heading">A BREIF ABOUT US</h2>
        <p class="description">YESpro is not just another company but a revolution which will ensure that event service
          providers get equal and rightful opportunities.
          We are committed to serve our consumers.If you're searching for the best events to work on or to hire the best
          for your events, then you are the best place. We provide the below services to the customers
        </p>
        <p class="description" style="font-weight: bold">We are YOUR EVENT'S SERVICE PROVIDER a.k.a. YESpro</p>
        <a href="#">
          <p style="text-align: center;font-weight: bolder;font-size: 20px;color: rgb(209, 230, 27); "> 
            <button class="white-button">Read More ...</button>
            </p>
        </a>
      </div>
    </div>
  </div>
</div>