.bgprl{
    background-image: url("src/assets/images/bgpic.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.bgprl .row {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: rgba(255,255,255,0.9);
}

.brief{
    margin: 5em 0 0 0;
    text-align: center;
}

.services {
   margin-bottom: 5em;

}

.card {
    background-color:rgb(20, 19, 19);
    padding: 1em;
}
.card-outer {
    display: inline-block;
    padding: 0.5em;
    
}

.card-img-top{
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}

.card-title{
    text-align: center;
    font-weight: normal;
    color: white;
}

.card-text{
    text-align: center;
    color: white;
}

.heading{
    font-weight: normal;
    color: maroon;
}