.main{
  position: relative;
  background-image: url(src/assets/images/yespos.jpg);
  height:1350px;
}

  .round{
    margin-left:40px; 
    margin-bottom:20px; 
    margin-top:20px; 
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(250, 228, 188);
    border-radius: 50%
  }

  .steps{
   width: 150px;  
   margin-top:160px;
  }

  .img{
   position: absolute;
   top:0px;
   right:0px;
   
  }

  .title{
   text-align: center;
   padding-top: 350px;
   padding-bottom: 20px;
  }

  .textru{
    background-color: rgb(44, 44, 28);
    color: whitesmoke;
    border: 1px solid rgb(79, 250, 164);
    border-radius: 20px 0px;
    padding: 10px;
  }