<div class="main">
  <h2 class="title"><span class="textru">HOW IT WORKS</span></h2>
  <div class="mainsteps">
    <div class="steps1">
      <div class="titlehead1">If you're Hiring</div>
      <div class="block">
        <div class="stepsblock">
          <div class="round">STEP 1</div>
          <div class="details">Register your company</div>
        </div>

        <div class="stepsblock">
          <div class="round">STEP 2</div>
          <div class="details">Send your requirements</div>
        </div>


        <div class="stepsblock">
          <div class="round">STEP 3</div>
          <div class="details">YESpro will analyse your needs and flash your requirement on the website</div>
        </div>


        <div class="stepsblock">
          <div class="round">STEP 4</div>
          <div class="details">YESpro will send you the details of applied candidates</div>
        </div>


        <div class="stepsblock">
          <div class="round">STEP 5</div>
          <div class="details">Hire those you like & Easily Pay</div>
        </div>
      </div>
    </div>

    <div class="steps1">
      <div class="titlehead1">If you're Freelancing</div>
      <div class="block">
        <div class="stepsblock">
          <div class="round">STEP 1</div>
          <div class="details">Register yourself easily on the website</div>
        </div>

        <div class="stepsblock">
          <div class="round">STEP 2</div>
          <div class="details">Complete your profile</div>
        </div>


        <div class="stepsblock">
          <div class="round">STEP 3</div>
          <div class="details">Find the best suitable event for you and apply</div>
        </div>


        <div class="stepsblock">
          <div class="round">STEP 4</div>
          <div class="details">Get hired and work with the esteemed companies</div>
        </div>


        <div class="stepsblock">
          <div class="round">STEP 5</div>
          <div class="details">Finally, get paid for your work</div>
        </div>
      </div>
    </div>
  </div>
</div>
