<div class="main">
  <h2 class="title"><span class="textru">HOW IT WORKS</span></h2>
  <div class="mainsteps">
    <div class="steps1">
      <div class="titlehead1">If you are a Freelancer</div>
      <div class="block">
        <div class="stepsblock">
          <div class="round">STEP 1</div>
          <div class="details">First You need to open the website and go to the Home Page</div>
        </div>

        <div class="stepsblock">
          <div class="round">STEP 2</div>
          <div class="details">STEP 1</div>
        </div>


        <div class="stepsblock">
          <div class="round">STEP 3</div>
          <div class="details">STEP 1</div>
        </div>


        <div class="stepsblock">
          <div class="round">STEP 4</div>
          <div class="details">STEP 1</div>
        </div>


        <div class="stepsblock">
          <div class="round">STEP 5</div>
          <div class="details">STEP 1</div>
        </div>
      </div>
    </div>

    <div class="steps1">
      <div class="titlehead1">If you are a Freelancer</div>
      <div class="block">
        <div class="stepsblock">
          <div class="round">STEP 1</div>
          <div class="details">First You need to open the website and go to the Home Page</div>
        </div>

        <div class="stepsblock">
          <div class="round">STEP 2</div>
          <div class="details">STEP 1</div>
        </div>


        <div class="stepsblock">
          <div class="round">STEP 3</div>
          <div class="details">STEP 1</div>
        </div>


        <div class="stepsblock">
          <div class="round">STEP 4</div>
          <div class="details">STEP 1</div>
        </div>


        <div class="stepsblock">
          <div class="round">STEP 5</div>
          <div class="details">STEP 1</div>
        </div>
      </div>
    </div>
  </div>
</div>
